@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root{
    --Pale-blue: hsl(225, 100%, 94%) ;
    --Bright-blue: hsl(245, 75%, 52%);
    ---Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-color:  #D6E1FF;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif; 
    color:var( --Desaturated-blue);
}

main{
    min-height: 70vh;
    display: grid;
    place-items: center;
    margin-top: 5vh;
}
.order-summary{
    text-align: center;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    min-width:360px;
    max-width: 400px;
    height: auto;
    border-radius:15px;
}

.img-hero{
    object-fit: cover;
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h2{
    margin-top:2rem;
    margin-bottom: 1rem;
    font-weight: 900;
    color: hsl(230deg 39.13% 18.04%);
    font-weight: 900;
}

.mainTex{
    color:#9598A4;
    padding: 0 30px;
    margin: 20px 0;
}

.change{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem 2rem;
    background-color: #F8F9FE;
    align-items: center;
    padding: 20px 10px;
    border-radius: 8px;
    
}

.change img{
    height: 40px;
}
.plan{
    margin-left: -109px;
    color:#9598A4;

}
.annual{
    font-weight: bold;
    color:hsl(230deg 39.13% 18.04%);
    font-weight: 700;
}
.payment {
    background-color: var(--Bright-blue);
    color: #e7e3e3;
    font-weight: 700;
    display: block;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
    border-radius: 5%;
    width: 80%;
    padding: 15px 0px;
    border-radius: 10px;
    border: 0;
    box-shadow: #dfdbfd 0px 8px 6px 2px;
}

.Cancel-Order{
    background-color: white;
    border:none;
    color:#7A80A4;
    margin-bottom: 2rem;
    font-weight: 900;
}

.change a:hover{
    cursor:pointer;
    text-decoration: none;
}

.payment:hover{
    cursor: pointer;
    opacity: 0.7;
}

.Cancel-Order:hover{
    cursor: pointer;
    color:hsl(230deg 39.13% 18.04%);
}

@media screen and (max-width:375px) {

    .order-summary{
      min-width: 320px;
      width: 350px;
    }
    .plan{
        margin-left: -50px;

    }
}